body {
    background-color: lightgray;
}

.textField {
}

.button {
}

#outputArea {
}

.card {
    border: 2px solid black;
    width: 15%;
    height: 5%;
    float: left;
    margin: 2%;
    padding: 1%;
}

.text {
  text-align: center;
}

.deleteButton {
  background-color: red;
  float: right;
}